//_BASE.SCSS
$content-width: 1366px;

$fonts: (
  primary: 'poppins',
  secondary: 'Courgette',
);

@function font($font-name) {
  @return map-get($fonts, $font-name);
}

$colors: (
  primary: #11590f,
  secondary: #0b410e,
  tertiary: #011237,
  quaternary: #ab1212,
  quinquernary: #5c0000,

  light: #f9f2de,
  dark: #161616,
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}

$font-sizes: (
  'xs': 1.2rem,
  'sm': 1.4rem,
  'md': 1.6rem,
  'lg': 2rem,
  'xl': 3rem,
  'xxl': 4rem,
  'xxxl': 5rem,
  'xxxxl': 7rem,
);
@function fontSize($size-name) {
  @return map-get($font-sizes, $size-name);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centering($topValue) {
  position: absolute;
  top: $topValue;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fullSpace {
  width: 100%;
  height: 100%;
}

@mixin single-response($break) {
  @media (max-width: $break) {
    @content;
  }
}
@mixin response($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == xxl {
    @media (max-width: 1400px) {
      @content;
    }
  }
}

/* ===== BASE SITE CSS START ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 0.625rem = 10px */
html {
  font-family: font(primary), sans-serif;
  font-size: 0.625rem;
}

/* 1.6rem = 16px */
body {
  background-color: white;
  font-size: fontSize(md);
}
/* ===== BASE SITE CSS END ===== */
